.about-us {
  background-color: #fff;
  height: 100%;
  border-radius: rem(4px);
  &__heading {
    font-size: rem(24px);
    font-weight: 600;
    color: #002c36;
    text-transform: capitalize;
    padding: rem(16px);
    margin-bottom: rem(16px);
    border-bottom: 1px solid #eee;
  }
  &__subheading {
    font-size: rem(22px);
    font-weight: 600;
    text-transform: uppercase;
    color: #002c36;
  }
  &__text {
    font-size: rem(14px);
    line-height: rem(20px);
    word-spacing: rem(2px);
    color: #002c36;
    font-weight: 500;
    max-width: rem(1380px);
  }
  &__wrapper {
    padding: 0 rem(16px) rem(16px);
  }
  &__main {
    margin: rem(65px) 0 rem(20px);
  }
  &__list-wrapper {
    margin-top: rem(8px);
  }
  &__list {
    list-style: circle;
    font-size: rem(14px);
    font-weight: 500;
    line-height: rem(20px);
    word-spacing: rem(2px);
    color: #002c36;
    margin-left: rem(16px);
  }
}
