.wishlist {
  background-color: #fff;
  border-radius: rem(4px);
  padding: rem(10px);
  @include mq(801px) {
    padding: rem(15px);
  }
  &__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: rem(8px);
    @include mq(801px) {
      gap: rem(15px);
    }
    &:not(:first-child) {
      padding-top: rem(5px);
      border-top: rem(1px) solid #dcdceabc;
    }
    &:not(:last-child) {
      padding-bottom: rem(5px);
    }
  }
  &__card-first-row,
  &__card-second-row {
    display: flex;
    gap: rem(6px);
    align-items: center;
    @include mq(801px) {
      gap: rem(15px);
    }
  }
  &__card-heaing {
    font-size: rem(16px);
    font-weight: 500;
    color: #002c36;
    max-height: rem(42px);
    overflow: hidden;
  }
  &__card-image-wrapper {
    min-width: rem(45px);
    height: rem(45px);
    padding: rem(5px);
    border: 1px solid rgb(238, 238, 238);
    border-radius: rem(4px);
    @include mq(801px) {
      min-width: rem(60px);
      height: rem(60px);
    }
  }
  &__card-image {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: rem(4px);
  }
  &__card-price {
    font-size: rem(14px);
    font-weight: 500;
    color: #002c36;
    display: ruby;
  }
  &__button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5px);
    background-color: #d72a4e;
    padding: rem(2px) rem(16px);
    cursor: pointer;
    border-radius: rem(4px);
    max-width: rem(140px);
    margin: 0 auto;
  }
  &__card-icon-text {
    font-size: rem(16px);
    font-weight: 600;
    color: #fff;
  }
  &__card-icon-wrappper {
    padding: rem(5px);
    height: rem(30px);
    min-width: rem(30px);
    display: grid;
    place-items: center;
    background-color: #d72a4e;
    border-radius: rem(4px);
    cursor: pointer;
  }
  &__button-icon {
    max-width: rem(16px);
    color: #fff;
  }
  &__card-icon {
    max-width: rem(25px);
    color: #fff;
  }
}
