.hero {
  &__wrapper {
    @include mq(1281px) {
      display: grid;
      grid-template-columns: 1fr rem(320px);
      gap: rem(10px);
    }
    @include mq(1500px) {
      grid-template-columns: 1fr rem(360px);
    }
    @include mq(1700px) {
      grid-template-columns: 1fr rem(470px);
      gap: rem(15px);
    }
  }
  &__banner {
    position: relative;
    border-radius: rem(6px);
    overflow: hidden;
    box-shadow: 4px 11px 5px 0px rgba(207, 199, 199, 0.44);
    @include mq(1281px) {
      grid-column: 1/2;
    }
  }
  &__Story {
    border-radius: rem(6px);
    overflow: hidden;
    @include mq(801px) {
      box-shadow: 4px 11px 5px 0px rgba(207, 199, 199, 0.44);
    }
    @include mq(1281px) {
      grid-column: 2/-1;
    }
  }
  &__banner-wrapper {
    display: flex;
    height: 100%;
  }
  &__Story-image-wrapper {
    height: 100% !important;
    @include mq(medium) {
      position: relative;
      flex: 0 0 100% !important;
    }
  }
  &__banner-image-wrapper {
    position: relative;
    height: 0;
    padding-top: 50.25%;
    @include mq(medium) {
      padding-top: 45.25%;
    }
    @include mq(extra-large) {
      padding-top: 0;
      flex: 0 0 100%;
      height: 100%;
    }
  }
  &__image {
    display: block;
    @include mq(extra-large) {
      object-fit: fill;
    }
  }
  &__Story-wrapper {
    display: flex;
    flex: 0 0 100%;
    @include mq(extra-large) {
      height: rem(360px);
    }
    @include mq(double-extra-large) {
      height: rem(420px);
    }
  }
  &__banner-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    cursor: pointer;
    left: 0;
    height: 100%;
    color: rgba(#002c36, 0.8);
    &--right {
      left: auto;
      right: 0;
    }
    &:hover {
      background-color: rgba(#dcdceabc, 0.4);
    }
  }
}
