.specification {
  padding: rem(25px) rem(15px);
  margin-top: rem(15px);
  background-color: #fff;
  border-radius: rem(4px);
  &__button-wrapper {
    display: flex;
    justify-content: center;
    gap: rem(15px);
  }
  &__button {
    font-size: rem(15px);
    font-weight: 600;
    color: #002c36;
    padding: rem(12px) rem(16px);
    cursor: pointer;
    border: 1px solid #d72a4e;
    border-radius: rem(4px);
    text-transform: uppercase;
    &--active {
      background-color: #d72a4e;
      border: none;
      color: #fff;
    }
  }
  &__wrapper {
    margin-top: rem(20px);
  }
  &__table-wrapper {
    border: 1px solid #eee;
  }
  &__table {
    tr {
      td:nth-child(2n + 1) {
        background-color: #dcdcea;
        font-size: rem(14px);
        font-weight: 600;
      }
    }
  }
  &__table-title {
    max-width: rem(150px);
  }
  &__details {
    img {
      max-width: 100%;
    }
    span {
      a {
        display: none;
      }
    }
    a {
      display: none;
    }
  }
}
